*{
    box-sizing: border-box;
    font-family: 'Bebas Neue' 12px;
    margin: 0;
    padding: 0;
   }


body {
    background-color: rgba(119, 191, 191, 0.46);
    margin: 0px;
    padding: 0px;
    margin: 20px auto;
    min-height: 100vh;
    width: 90%;
    gap: 20px;
}


@keyframes boton-menu {
    0% {
        transform: scalex(1.0);

    }

    50% {
        transform: scalex(1.15);

    }

    100% {
        transform: scalex(1.0);
    }
}

.contenedor-imagen {
    display: flex;
    width: 100%;
    height: 400px;
    grid-area: imagencentral;
    
}

.contenedor-imagen img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    

}

.contenedor-subtitulo {
    width: 100%;
    margin-bottom: 1%;
    background-color: var(--limon);
    padding: 6px 6px;
    letter-spacing: 3px;
    text-align: center;
    grid-area: subtitulo;

}
/*falta agregar imagenens*/

.contenedor-imagena {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-area: imagenes-indispensables;
    background: url(img/fondo2.jpg) no-repeat;
    align-items: center;
    background-position: center;
    background-size: cover;

}

.contenedor-imagena .imagen-indispensable{
    width:300px;
    position: relative;
 }

.contenedor-imagena .imagen-indispensable img{
    width: 100%;
    height: 400px;
}

.pie {
    display: flex;
    height: 200px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 0px 25px;
    background-color: rgb(247, 245, 245);
    font-size: 7px;
    grid-area: footer;

    }

.iconos {
    display: flex;
    column-gap: 12px;
    align-items: center;
    text-align: center;
    align-content: center;
    }

.pie .iconos>a {
    color: rgb(18, 18, 224);
    font-size: 15px;

}

.pie .iconos>h2 {
    color: rgb(80, 80, 88);
    font-size: 15px;
}

    

.pie .logo-footer img {
    width: 50px;

}
.contenedor {
    display: grid;
    grid-template: repeat(6, auto)/100%;
    grid-template-areas: "encabezado"
        "barramenu"
        "imagencentral"
        "producto"
        "footer";


    
}

    

@media (min-width:720px) {
    .contenedor {
        display: grid;
        grid-template: repeat(5, auto)/ 50% 50%;
        grid-template-areas: "encabezado encabezado"
            "barramenu barramenu"
            "imagencentral imagencentral"
            "subtitulo subtitulo"
            "producto producto"
            "footer footer";
    }

    .encabezado H1 {
        letter-spacing: 5px;
        font-size: 2vw;
    }

    .encabezado .iconos>a {
        font-size: 20px;
        
    }

    .encabezado img {
        width: 70px;
        margin: 0px 15px;
    }

    .contenedor-subtitulo {
        font-size: 1.1vw;

    }
    
    

    .pie {
        font-size: 15px;
        background-color: var(--limon);


    }

    .pie .logo-footer img {
        width: 200px;
        

    }

    .pie .iconos>a {
        font-size: 25px;

    }

    .pie .iconos>h2 {
        font-size: 25px;
    }

}
